@using Microsoft.AspNetCore.Mvc.Localization
@using AGooday.Retail.BookStore.Localization
@inject IHtmlLocalizer<BookStoreResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
